* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
body {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  color: var(--text-dark);
   background: #0d080ff3;
     -webkit-font-smoothing: antialiased;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
input:focus, select:focus{
    border-color: var(--secondary-color);
}
h1, h2, h3, h4, h5, h6, p, span {
  text-transform: capitalize;
}