:root {

  /*TEXT COLORS*/
  --text-light: #676565;
  --color-white: #ffff;
  --highLight: #acaaaa;
  --box-shadow: 0 4px 20px rgba(0,0,0,.05);

  /*BG RADIAL*/
  --linear-gradient: linear-gradient(to right,rgba(0,0,0,0.4),rgba(0,0,0,0.1));
  --bg-radial: radial-gradient(circle,rgb(252, 43, 88) 0%, rgba(192, 29, 63, 1) 100%, rgba(225, 62, 96, 1) 100%);

  /*FONT FAMILY*/
  --primary-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Poetsen One", sans-serif;
  --Italiana-font: "Italiana", sans-serif;

  /* FONT SIZE */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-bold: 3rem;

  /* BORDER RADIUS */
  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.3rem;
  --border-radius-xl: 0.4rem;
  --border-radius-2xl: 0.5rem;
  --border-radius-3xl: 1rem;
  --border-rounded: 50%;
  
  /* PADDING */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  /* MARGIN */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;

  /* GUTTER  */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 3rem;

  
}